@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

:root {
  --main-bg-color: coral;
}

*:focus {
  outline: 0 !important;
}

a {
  color: #0d894d;
}

a:hover {
  text-decoration: none;
  color: #0b683b;
}

a:active {
  color: #0b683b;
}

html{
  font-size: 16px;
}

body {
  color: #2e343b;
  /* color: #788090; */
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

body::-webkit-scrollbar-thumb {
  background-color: #c4c4c4;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  width: 10px;
}

/* Perfect ScrollBar Begin */

/*
 * Container style
 */
.ps {
  overflow: hidden !important;
  overflow-anchor: none;
  -ms-overflow-style: none;
  touch-action: auto;
  -ms-touch-action: auto;
}

/*
   * Scrollbar rail styles
   */
.ps__rail-x {
  display: none;
  opacity: 0;
  transition: background-color 0.2s linear, opacity 0.2s linear;
  -webkit-transition: background-color 0.2s linear, opacity 0.2s linear;
  height: 15px;
  /* there must be 'bottom' or 'top' for ps__rail-x */
  bottom: 0px;
  /* please don't change 'position' */
  position: absolute;
}

.ps__rail-y {
  display: none;
  opacity: 0;
  transition: background-color 0.2s linear, opacity 0.2s linear;
  -webkit-transition: background-color 0.2s linear, opacity 0.2s linear;
  width: 15px;
  /* there must be 'right' or 'left' for ps__rail-y */
  right: 0;
  /* please don't change 'position' */
  position: absolute;
}

.ps--active-x > .ps__rail-x,
.ps--active-y > .ps__rail-y {
  display: block;
  background-color: transparent;
}

.ps:hover > .ps__rail-x,
.ps:hover > .ps__rail-y,
.ps--focus > .ps__rail-x,
.ps--focus > .ps__rail-y,
.ps--scrolling-x > .ps__rail-x,
.ps--scrolling-y > .ps__rail-y {
  opacity: 0.6;
}

.ps .ps__rail-x:hover,
.ps .ps__rail-y:hover,
.ps .ps__rail-x:focus,
.ps .ps__rail-y:focus,
.ps .ps__rail-x.ps--clicking,
.ps .ps__rail-y.ps--clicking {
  background-color: #eee;
  opacity: 0.9;
}

/*
   * Scrollbar thumb styles
   */
.ps__thumb-x {
  background-color: #aaa;
  border-radius: 6px;
  transition: background-color 0.2s linear, height 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s linear, height 0.2s ease-in-out;
  height: 6px;
  /* there must be 'bottom' for ps__thumb-x */
  bottom: 2px;
  /* please don't change 'position' */
  position: absolute;
}

.ps__thumb-y {
  background-color: #aaa;
  border-radius: 6px;
  transition: background-color 0.2s linear, width 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s linear, width 0.2s ease-in-out;
  width: 6px;
  /* there must be 'right' for ps__thumb-y */
  right: 2px;
  /* please don't change 'position' */
  position: absolute;
}

.ps__rail-x:hover > .ps__thumb-x,
.ps__rail-x:focus > .ps__thumb-x,
.ps__rail-x.ps--clicking .ps__thumb-x {
  background-color: #999;
  height: 11px;
}

.ps__rail-y:hover > .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y,
.ps__rail-y.ps--clicking .ps__thumb-y {
  background-color: #999;
  width: 11px;
}

/* MS supports */
@supports (-ms-overflow-style: none) {
  .ps {
    overflow: auto !important;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .ps {
    overflow: auto !important;
  }
}

/* Perfect Scrollbar end */

.main-wrapper {
  display: flex;
  overflow: hidden;
}

.main-wrapper .page-wrapper {
  min-height: 100vh;
  background: #f7f8fa;
  width: calc(100% - 280px);
  margin-left: 280px;
  display: flex;
  flex-direction: column;
  transition: margin 0.1s ease, width 0.1s ease;
}

.main-wrapper .sidebar {
  width: 280px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  transition: width 0.1s ease, margin 0.1s ease-out;
  z-index: 999;
}

.navbar {
  width: calc(100% - 280px);
  height: 75px;
  background: #fff;
  border-bottom: 2px solid #eceeed;
  display: flex;
  align-items: center;
  padding: 0;
  position: fixed;
  right: 0;
  left: 280px;
  z-index: 978;
  box-shadow: 3px 0 10px 0 rgba(183, 192, 206, 0.2);
  transition: width 0.1s ease, left 0.1s ease;
}

.navbar .navbar-content {
  display: flex;
  width: 100%;
  height: 100%;
  padding-left: 25px;
  padding-right: 25px;
}

.navbar .sidebar-header .sidebar-toggler {
  font: inherit;
  display: inline-flex;
  overflow: visible;
  margin: 0;
  padding: 5px;
  cursor: pointer;
  transition-timing-function: linear;
  transition-duration: 0.15s;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  text-transform: none;
  color: inherit;
  border: 0;
  background-color: transparent;
}

.navbar .sidebar-toggler-box {
  width: 25px;
  height: 24px;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.navbar .sidebar-toggler-icon:after,
.navbar .sidebar-toggler-icon:before {
  display: block;
  content: "";
}

.navbar .sidebar-toggler-icon:before {
  transition: top 0.12s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s,
    transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.navbar .sidebar-toggler-icon:before {
  top: 16px;
}

.navbar .sidebar-toggler-icon:after {
  transition: top 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s,
    opacity 0.1s linear;
}
.navbar .sidebar-toggler-icon:after {
  bottom: -8px;
}

.navbar .sidebar-toggler-icon,
.navbar .sidebar-toggler-icon:after,
.navbar .sidebar-toggler-icon:before {
  position: absolute;
  height: 4px;
  transition-timing-function: ease;
  transition-duration: 0.15s;
  transition-property: transform;
  border-radius: 4px;
  background-color: #0d894d;
}

.navbar .sidebar-toggler-icon {
  width: calc(0.85 * 25px);
  transition: all 0.2s linear;
}

.navbar .sidebar-toggler-icon:after {
  width: 25px;
}

.navbar .sidebar-toggler-icon::before {
  width: calc(0.7 * 0.85 * 25px);
}

.nav-toggler-close {
  display: none;
}

/* active state begin */

.navbar .sidebar-toggler.is-active .sidebar-toggler-icon {
  width: 25px;
  transform: rotate(90deg);
  opacity: 0.7;
  transform-origin: 10px 10px;
  transition: all 0.2s linear;
}

.navbar .sidebar-toggler.is-active .sidebar-toggler-icon:after {
  width: 25px;
}

.navbar .sidebar-toggler.is-active .sidebar-toggler-icon:before {
  width: 25px;
}

/* active state end */

.sidebar .sidebar-header .sidebar-toggler {
  font: inherit;
  display: inline-flex;
  overflow: visible;
  margin: 0;
  padding: 5px;
  cursor: pointer;
  transition-timing-function: linear;
  transition-duration: 0.15s;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  text-transform: none;
  color: inherit;
  border: 0;
  background-color: transparent;
}

.sidebar .sidebar-header .sidebar-toggler-box {
  width: 25px;
  height: 24px;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.sidebar .sidebar-toggler-icon:after,
.sidebar .sidebar-toggler-icon:before {
  display: block;
  content: "";
}

.sidebar .sidebar-toggler-icon:before {
  transition: top 0.12s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s,
    transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.sidebar .sidebar-toggler-icon:before {
  top: 16px;
}

.sidebar .sidebar-toggler-icon:after {
  transition: top 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s,
    opacity 0.1s linear;
}
.sidebar .sidebar-toggler-icon:after {
  bottom: -8px;
}

.sidebar .sidebar-toggler-icon,
.sidebar .sidebar-toggler-icon:after,
.sidebar .sidebar-toggler-icon:before {
  position: absolute;
  height: 4px;
  transition-timing-function: ease;
  transition-duration: 0.15s;
  transition-property: transform;
  border-radius: 4px;
  background-color: #0d894d;
  /* background-color: rgba(42, 56, 63, 0.678); */
}

.sidebar .sidebar-toggler-icon {
  width: calc(0.85 * 25px);
  transition: all 0.2s linear;
}

.sidebar .sidebar-toggler-icon:after {
  width: 25px;
}

.sidebar .sidebar-toggler-icon::before {
  width: calc(0.7 * 0.85 * 25px);
}

/* active state begin */

.sidebar-toggler.is-active .sidebar-toggler-icon {
  width: 25px;
  height: 3px;
  transform: rotate(90deg);
  opacity: 0.7;
  transform-origin: 10px 10px;
  transition: all 0.2s linear;
}

.sidebar-toggler.is-active .sidebar-toggler-icon:after {
  width: 25px;
  height: 3px;
}

.sidebar-toggler.is-active .sidebar-toggler-icon:before {
  width: 25px;
  height: 3px;
}

/* active state end */

.sidebar-toggler-mobile {
  display: none;
}

.navbar .navbar-content {
  display: flex;
  width: 100%;
  height: 100%;
  padding-left: 25px;
  padding-right: 25px;
}

.navbar .navbar-content .navbar-nav {
  display: flex;
  flex-direction: row;
  margin-left: auto;
}

.navbar .navbar-content .navbar-nav .nav-item {
  position: relative;
  margin-left: 5px;
  margin-right: 5px;
  width: 30px;
  display: flex;
  align-items: center;
}

.navbar .navbar-content .navbar-nav .nav-item .nav-link {
  color: #535353;
  padding: 0;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.navbar .navbar-content .navbar-nav .nav-item .nav-link .ring {
  display: block;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: #0d894d;
}

.main-wrapper .page-wrapper .page-content {
  flex-grow: 1;
  padding: 15px;
  margin-top: 75px;
}

@media (min-width: 481px) and (max-width: 767px) {
    
.main-wrapper .page-wrapper .page-content {
  padding: 5px 10px;
}

}

@media (min-width: 320px) and (max-width: 480px) {
  
.main-wrapper .page-wrapper .page-content {
  padding: 5px 10px;
}

}


.main-wrapper .page-wrapper .page-content-inner {
  display: flex;
  flex-flow: row nowrap;
  position: relative;
  align-items: flex-start;
}

.page-content .page-content-title {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 10px;
}

@media (max-width: 1024px) {
  .page-content-inner .inner-nav {
    display: none;
  }

  .page-content-title{
    display: flex;
    align-items: center;
  }

  .page-hamburger{
    background-color: none;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .page-hamburger:hover svg,
  .page-hamburger:active svg{
    stroke: #0d894d;
  }

  .inner-nav.mobile{
    position: absolute !important;
    top: -10px;
    left: 10px;
    display: block;
    z-index: 4;
  }
    
  .inner-nav.mobile .nav{
    border: 1px solid #d4d4d4;
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.2), 
    0 2px 3px 0 rgba(0, 0, 0, 0.1), 
    inset 0 0 0px 0px rgba(255, 255, 255, 0.5);
  }

  .inner-nav.mobile .nav .details{
    display: none;
  }
  
}

@media (min-width: 1025px) {
  .page-hamburger{
    display: none;
  }
}


.page-content-inner .inner-nav {
  margin-right: 7.5px;
  width: 260px !important;
  flex: 0 0 260px;
  position: relative;
}

.page-content-inner .nav {
  width: 260px;
  box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2);
  border-radius: 5px;
  background-color: #fff;
  padding: 5px 5px;
  transition: all 0.5s ease-in-out;
}

.page-content-inner .nav.fixed-on-scroll {
  position: fixed;
  top: 83px;
  width: 260px;
}

.page-content-inner .nav a {
  width: 100%;
  color: inherit;
  margin-bottom: 1px;
}

.page-content-inner .nav a.navlist:not(.active):hover {
  background-color: rgba(0, 0, 0, 0.116) !important;

  border-radius: 5px !important;
}

.page-content-inner .nav a.navlist:not(.active):active {
  background-color: rgba(0, 0, 0, 0.116) !important;
  border-radius: 5px !important;
}

.page-content-inner .nav a.navlist.active {
  border-radius: 5px !important;
  background-color: rgba(0, 0, 0, 0.05) !important;
}

.page-content-inner .nav .content {
  width: 100%;
  padding: 5px 7px;
  border-radius: 7px;
}

.text-muted {
  color: rgba(108, 117, 125, 0.741) !important;
}
.page-content-inner .nav .content .title {
  font-weight: 400;
  margin-bottom: 1px;
  font-size: 1.02rem;
}

.page-content-inner .nav .content .details {
  font-size: 0.8rem;
}

.page-content-inner .inner-page {
  margin-left: 7.5px;
  width: 100%;
  box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2);
  background: #fff;
  border-radius: 5px;
}
  
  @media (min-width: 320px) and (max-width: 480px) {
    
    .page-content-inner .inner-page {
      margin-left: 0px;
    }
      
  }
  
.inner-page .my-card {
  padding: 10px 15px;
}

.inner-page .my-card .my-card-header {
  padding: 8px 15px 8px 0;
  margin-bottom: 8px;
  font-size: 1.2rem;
}

.inner-page .my-card .my-card-body {
  padding: 8px;
}

.inner-page .my-card .my-card-body .prof-img {
  padding: 8px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.inner-page .my-card .my-card-body .prof-img .image {
  border: solid 2px #e7e9eb;
  width: 130px;
  height: 130px;
  overflow: hidden;
  padding: 2px;
  border-radius: 50%;
  /* box-shadow:  -1px 1px 5px #ccc;; */
}
.inner-page .my-card .my-card-body .prof-img .name {
  margin: 10px;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 1.05rem;
}

.inner-page .my-card .my-card-body .prof-img .id {
  font-weight: 400;
  font-size: 1.05rem;
}

.inner-page .my-card .my-card-body .prof-img > div > img {
  width: 100%;
  height: auto;
}

.inner-page .my-card .my-card-sub-header {
  padding: 8px 0 8px 0;
  margin-bottom: 8px;
  font-size: 1.1rem;
}

.mini-card {
  padding: 15px 0 0 10px;
  border-radius: 7px;
  border: solid 1px #e7e9eb;
  margin: 15px 0 40px;
}

.mini-card-header {
  font-size: 1.05rem;
  margin-bottom: 15px;
}

.mini-card .details {
  display: flex;
  border-bottom: solid 1px #e7e9eb;
  align-items: center;
  padding: 10px 5px;
}

.mini-card .details:last-child {
  border-bottom: none !important;
}

.mini-card .details .label {
  font-size: 0.75rem;
  font-weight: 500;
  text-transform: uppercase;
  flex-basis: 30%;
  width: 30%;
}

.mini-card .details .value {
  font-size: 1rem;
}

.my-card-body .tax {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 20px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.my-card-body .tax > div {
  width: 33.33%;
  margin: 0 20px;
}

@media (min-width: 320px) and (max-width: 480px) {
    
  .mini-card .details {
    flex-direction: column;
    align-items: flex-start;
  }

  .mini-card .details .label {
    flex-basis: 100%;
    width: 100%;
    font-size: 0.65rem;
    margin-bottom: 5px;
  }  

  .my-card-body .tax {
    flex-flow: column nowrap;
    align-items: stretch;
  }

  .my-card-body .tax > div {
    width: 100%;
    margin: 0 20px;
  }  
    
}

.attendance {
  display: flex;
  align-items: center;
}

.attendance div:nth-child(1) {
  width: 100px;
}

/* Sidebar starts here  */

.sidebar .sidebar-header {
  background: #fff;
  height: 75px;
  border-bottom: 1px solid #eceeed;
  display: flex;
  align-items: center;
  padding: 0 25px 0 10px;
  /* border-right: 1px solid #f2f4f9; */
  z-index: 999;
  width: 100%;
  transition: width 0.1s ease;
}

.sidebar-logo {
  display: block;
  margin-left: 10px;
}

.sidebar-logo a {
  text-align: center;
}

.sidebar-logo a img {
  width: 55%;
  margin: 0 auto;
}

.sidebar .sidebar-header {
  border-bottom: 2px solid #eceeed;
}

.sidebar .sidebar-header .sidebar-brand {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease;
  /* width: max-content; */
}

.sidebar .sidebar-header .sidebar-brand span {
  color: #0d894d;
  font-weight: 300;
}

.sidebar .sidebar-body {
  max-height: calc(100% - 60px);
  position: relative;
  height: 100%;
  box-shadow: 0 8px 6px 0 rgba(183, 192, 206, 0.2);
  background: #fff;
}

.sidebar .sidebar-body .nav {
  display: flex;
  flex-direction: column;
  padding: 25px 25px 50px 0px;
}

.sidebar .sidebar-body .nav .nav-item {
  position: relative;
}

.sidebar .sidebar-body .nav .nav-item .nav-link {
  display: flex;
  align-items: center;
  padding: 10px 0 10px 25px;
  height: 45px;
  white-space: nowrap;
  color: inherit;
}

.sidebar .sidebar-body .nav .nav-item .nav-link .link-icon {
  width: 16px;
  height: 16px;
  fill: rgba(233, 236, 239, 0.21);
  stroke: #2e343b;
  position: absolute;
  color: inherit;
}

.sidebar .sidebar-body .nav .nav-item .nav-link .link-title {
  margin-left: 15px;
  font-size: 14px;
  font-weight: 400;
  transition: all 0.2s ease-in-out;
}

.sidebar .sidebar-body .nav .nav-item .nav-link.active svg {
  stroke-width: 1.5px;
}

.sidebar .sidebar-body .nav .nav-item .nav-link.active .link-title {
  max-width: 185px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebar .sidebar-body .nav .nav-item .nav-link.active {
  color: #0d894d;
  border-radius: 0 22px 22px 0;
  background-color: rgba(0, 123, 64, 0.09);
}

.sidebar .sidebar-body .nav .nav-item .nav-link.active svg {
  stroke: #0d894d !important;
}

.sidebar .sidebar-body .nav .nav-item .nav-link:hover .link-icon {
  color: #0d894d;
}

.sidebar .sidebar-body .nav .nav-item .nav-link:hover .link-title {
  color: #0d894d;
}

.sidebar .sidebar-body .nav .nav-item .nav-link:hover svg {
  stroke: #0d894d !important;
}

.navbar .navbar-content .navbar-nav .nav-item {
  position: relative;
  margin-left: 5px;
  margin-right: 5px;
  width: 30px;
  display: flex;
  align-items: center;
}

.dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: none;
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

.dropdownAnimation,
.navbar-nav .nav-item.dropdown .dropdown-menu {
  -webkit-animation-name: dropdownAnimation;
  animation-name: dropdownAnimation;
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.navbar .navbar-content .navbar-nav .nav-item.dropdown .dropdown-menu {
  max-width: 400px;
  position: absolute;
  right: -20px;
  left: auto;
  border-radius: 5px;
  margin-top: 0;
  border: 1px solid #d4d4d4;
  background: #fff;
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.2),
    0 2px 3px 0 rgba(0, 0, 0, 0.1), inset 0 0 0px 0px rgba(255, 255, 255, 0.5);
  font-size: 0.875rem;
  width: 320px;
}
@media (min-width: 320px) and (max-width: 480px) {
  .navbar .navbar-content .navbar-nav .nav-item.dropdown .dropdown-menu {
    width: 250px !important;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .navbar .navbar-content .navbar-nav .nav-item.dropdown .dropdown-menu {
    width: 280px !important;
  }
}

.navbar .navbar-content .navbar-nav .nav-item.dropdown .dropdown-menu::before {
  content: "";
  width: 13px;
  height: 13px;
  background: #fff;
  position: absolute;
  top: -7px;
  right: 28px;
  transform: rotate(45deg);
  border-top: 1px solid #d4d4d4;
  border-left: 1px solid #d4d4d4;
}

.navbar .dropdown-menu .dropdown-header {
  padding-top: 0;
  padding-left: 12px;
  padding-bottom: 3px;
  color: #2e343b;
}

.navbar .dropdown-menu .dropdown-header .head {
  font-weight: 500;
  font-size: 1.5rem;
}

.dropdown-item:focus,
.dropdown-item:hover {
  background-color: rgba(0, 0, 0, 0.05) !important;
  /* background-color: #FBFBFB; */
  border-radius: 5px !important;
}

.dropdown-item.active,
.dropdown-item:active {
  color: inherit !important;
  background-color: rgba(0, 0, 0, 0.05) !important;
  /* background-color: #FBFBFB; */
  border-radius: 5px !important;
}

.dropdown-item-bef {
  padding: 0 5px;
}

.navbar .dropdown-menu .dropdown-body .dropdown-item {
  border-radius: 5px;
  padding: 9px 7px;
  display: flex;
  transition: background 0.2s ease-in-out;
}

.navbar .dropdown-menu .dropdown-body .dropdown-item .content {
  width: 100%;
  margin-left: 10px;
}

.navbar .dropdown-menu .dropdown-body .dropdown-item .content > p {
  margin-bottom: 0;
}

.navbar .dropdown-menu .dropdown-body .dropdown-item .content > div > p {
  margin-bottom: 0;
}

.navbar .dropdown-menu .dropdown-body .dropdown-item .content .sub-text {
  font-size: 0.8rem;
}

.navbar .dropdown-body .dropdown-item .figure img {
  border-radius: 50%;
  width: 40px;
  height: auto;
  overflow: hidden;
}

.navbar .dropdown.nav-profile.show .dropdown-menu .dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 0.3rem;
  clear: both;
  font-weight: 400;
  color: inherit;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.navbar .dropdown.nav-profile.show .dropdown-menu {
  padding: 7px !important;
}


@media (min-width: 320px) and (max-width: 480px) {
    
.navbar .dropdown.nav-profile.show .dropdown-menu.show{
  right: -12px !important;
}
  
}


.navbar .dropdown.nav-profile.show .dropdown-menu .top .content {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 5px 0;
}

.navbar .dropdown.nav-profile.show .dropdown-menu .top + hr {
  background: #d4d4d4;
  border-width: 0;
  color: #d4d4d4;
  height: 2px;
  margin: 0.5rem 0.3rem;
  margin-top: 0.2rem;
}

.navbar .dropdown.nav-profile.show .dropdown-menu .dropdown-item + hr {
  background: #d4d4d4;
  border-width: 0;
  color: #d4d4d4;
  height: 1px;
  margin: 0.3rem 0.3rem;
}

.navbar .dropdown.nav-profile.show .dropdown-menu .top .content .figure img {
  border-radius: 50%;
  width: 60px;
  height: auto;
  overflow: hidden;
}

.navbar .dropdown.nav-profile.show .dropdown-menu .top .content .info {
  width: 100%;
  margin-left: 12px;
}

.navbar .dropdown.nav-profile.show .dropdown-menu .top .content .info p {
  margin-bottom: 0;
  margin-left: 0 !important;
}

.navbar
  .dropdown.nav-profile.show
  .dropdown-menu
  .top
  .content
  .info
  p.text-muted {
  font-size: 0.9rem;
  margin-left: 0 !important;
  margin-top: -1px;
  white-space: break-spaces;
}

.navbar
  .dropdown.nav-profile.show
  .dropdown-menu
  .top
  .content
  .info
  p:not(.text-muted) {
  font-weight: 500;
  font-size: 1.08rem;
}

.navbar .dropdown.nav-profile.show .dropdown-menu .dropdown-item {
  padding: 10px 5px;
}

.navbar .dropdown.nav-profile.show .dropdown-menu .dropdown-item .content {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.navbar
  .dropdown.nav-profile.show
  .dropdown-menu
  .dropdown-item
  .content
  .thumb {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(46, 52, 59, 0.07);
}

.navbar .dropdown.nav-profile.show .dropdown-menu .dropdown-item .content p {
  margin-bottom: 0;
  margin-left: 12px;
  font-weight: 500;
}

.nav-profile {
  width: 35px !important;
}

.nav-company {
  width: -webkit-max-content !important;
  width: -moz-max-content !important;
  width: max-content !important;
  font-size: 0.8rem;
}

.nav-profile a img {
  width: 100%;
}

.navbar .sidebar-toggler.mobile {
  display: none;
}

.sidebar-folded .page-wrapper .navbar {
    width: calc(100% - 70px);
    left: 70px;
    right: 0
}



.sidebar-folded .page-wrapper {
  width: calc(100% - 70px);
  margin-left: 70px;
}

/* .sidebar-folded:not(.open-sidebar-folded) .sidebar .sidebar-header {
  width: 280px;
}
 */
.sidebar-folded:not(.open-sidebar-folded) .sidebar {
  width: 70px;
}  

.sidebar-folded:not(.open-sidebar-folded) .sidebar .sidebar-body {
  width: 70px;
}

.sidebar-folded.open-sidebar-folded .sidebar .sidebar-body {
  background-color: rgb(241, 241, 241);
  transition: all 0.2s ease-in;
}

.sidebar-folded:not(.open-sidebar-folded)
  .sidebar
  .sidebar-body
  .nav
  .nav-item
  .nav-link.active {
  background: none;
}

.sidebar-folded:not(.open-sidebar-folded)
  .sidebar
  .sidebar-body
  .nav
  .nav-item
  .nav-link.active::before {
  content: "";
  width: 0px;
  height: 70%;
  background: #0d894d;
  position: absolute;
  left: -4px;
  border-radius: 20px;
  border: 3px solid #0d894d;
}

.sidebar-folded:not(.open-sidebar-folded)
  .sidebar
  .sidebar-body
  .nav
  .nav-item
  .nav-link.active
  svg {
  stroke: #0d894d;
}

.sidebar-folded:not(.open-sidebar-folded)
  .sidebar
  .sidebar-body
  .nav
  .nav-item
  .nav-link
  .link-arrow,
.sidebar-folded:not(.open-sidebar-folded)
  .sidebar
  .sidebar-body
  .nav
  .nav-item
  .nav-link
  .link-title {
  visibility: hidden;
  opacity: 0;
}

@media (min-width: 481px) and (max-width: 767px) {
  body.sidebar-open {
    overflow: hidden !important;
  }
  .navbar {
    width: 100%;
    flex-flow: row nowrap;
    left: 0;
  }

  .sidebar .sidebar-toggler {
    display: none !important;
  }

  .sidebar .sidebar-header {
    border-right: 2px solid #eceeed;
    border-bottom: 2px solid #eceeed;
    box-shadow: 0 8px 8px 0 rgba(183, 192, 206, 0.2);
  }

  .sidebar .sidebar-header .sidebar-logo {
    text-align: center;
  }

  .sidebar .sidebar-header button.nav-toggler-close {
    display: block;
    background: none;
    border: none;
    margin-right: -15px;
  }

  .sidebar .sidebar-body {
    border-right: 2px solid #eceeed;
    box-shadow: 0 8px 8px 0 rgba(183, 192, 206, 0.2);
  }

  .sidebar-open .page-wrapper {
    filter: blur(2px);
  }

  .navbar .sidebar-toggler.mobile {
    display: block;
    margin-left: 10px;
  }

  .navbar-content {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  .nav-company {
    display: none !important;
  }

  .main-wrapper .page-wrapper {
    margin-left: 0;
    width: 100%;
  }

  .sidebar {
    z-index: 999;
    margin-left: -240px;
    visibility: hidden;
    transition: all 0.5s ease-in-out !important;
  }

  .sidebar-open .sidebar {
    margin-left: 0;
    visibility: visible;
    transition: all 0.5s ease-in-out;
  }

  .sidebar .sidebar-body .nav .nav-item {
    width: auto;
  }

  .sidebar .sidebar-body .nav .nav-item .nav-link .link-icon {
    transition: none;
    margin: 0;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  body.sidebar-open {
    overflow: hidden !important;
  }
  .navbar {
    width: 100%;
    flex-flow: row nowrap;
    left: 0;
  }

  .sidebar .sidebar-toggler {
    display: none !important;
  }

  .sidebar .sidebar-header {
    border-right: 2px solid #eceeed;
    border-bottom: 2px solid #eceeed;
    box-shadow: 0 8px 8px 0 rgba(183, 192, 206, 0.2);
  }

  .sidebar .sidebar-header .sidebar-logo {
    text-align: left;
  }

  .sidebar .sidebar-header button.nav-toggler-close {
    display: block;
    background: none;
    border: none;
    margin-right: -15px;
  }

  .sidebar .sidebar-body {
    border-right: 2px solid #eceeed;
    box-shadow: 0 8px 8px 0 rgba(183, 192, 206, 0.2);
  }

  .sidebar-open .page-wrapper {
    opacity: 0.6;
  }

  .navbar .sidebar-toggler.mobile {
    display: block;
    margin-left: 10px;
  }

  .navbar-content {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  .nav-company {
    display: none !important;
  }

  .main-wrapper .page-wrapper {
    margin-left: 0;
    width: 100%;
  }

  .sidebar {
    z-index: 999;
    margin-left: -240px;
    visibility: hidden;
    transition: all 0.5s ease-in-out !important;
  }

  .sidebar-open .sidebar {
    margin-left: 0;
    visibility: visible;
    transition: all 0.5s ease-in-out;
  }

  .sidebar .sidebar-body .nav .nav-item {
    width: auto;
  }

  .sidebar .sidebar-body .nav .nav-item .nav-link .link-icon {
    transition: none;
    margin: 0;
  }
}

.button {
  display: inline-flex;
  height: 2.45rem;
  align-items: center;
  justify-content: center;
  transform: perspective(1px) translateZ(0);
  transition: all 0.3s ease;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
  border-radius: 5px;
  font-weight: 500;
  padding: 0px 1rem;
  vertical-align: middle;
}

.button:hover {
  text-decoration: none;
}

.button.primary {
  /* box-shadow: 0px 1px 30px 0px rgba(13, 137, 77, 0.1); */
  color: #fff;
  background-color: #0d894d;
  border: 1.5px solid #0d894d;
  transition: backgroud-color 500s ease-in-out;
}

.button.primary:hover {
  color: #fff;
  box-shadow: none;
  background: #0b7944;
}

.button.primary svg {
  stroke-width: 2.5px !important;
  stroke: #fff !important;
  margin-right: 5px;
}

.button.primary-light {
  color: #0d894d;
  background-color: rgba(11, 121, 68, 0.1);
}

.button.primary-light:hover {
  background: #0b794431;
  box-shadow: none;
}

.button.secondary {
  color: #5f6368;
  background-color: inherit;
  /* box-shadow: inset 0 0 0 1.5px #dadce0; */
  border: 1.5px solid #dadce0;
  transition: backgroud-color 500s ease-in-out;
}

.button.secondary svg {
  stroke-width: 1.7px !important;
  stroke: #7e8388 !important;
  margin-right: 5px;
}

.form-button {
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 10px;
  margin-right: 40px;
  text-align: right;
}

.tx-left{
  text-align: left;
}

.button.form-aux {
  border-radius: 1.5rem;
}

.button.secondary:hover {
  background-color: rgba(32, 33, 36, 0.059);
}

.button.secondary-light {
  color: inherit;
  background-color: #f7f8fa;
}

.button.secondary-light:hover {
  background: rgb(236, 236, 238);
  box-shadow: none;
}

.flatpickr-input[readonly] {
  background-color: inherit !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.mini-card .row {
  margin: 0 !important;
}

.mini-card .row:last-child {
  margin-bottom: 10px !important;
}

.mini-card .form-group {
  padding-right: 40px;
}

.form-group {
  padding: 10px;
  padding-bottom: 0;
}

input.form-control,
select.form-control {
  display: block;
  width: 100%;
  padding: 0.2rem 0.7rem;
  line-height: 1;
  color: #5f6368;
  background-clip: padding-box;
  transition: border-color 0.3s ease-in-out;
  font-weight: 400;
  border: solid 1.5px #dadce0;
  border-radius: 4px;
  height: 2.6rem;
  transition: all 0.3s ease-in-out;
}

textarea.form-control {
  display: block;
  width: 100%;
  height: 10rem !important;
  padding: 0.4rem 0.4rem;
  line-height: 1;
  color: #5f6368;
  background-clip: padding-box;
  transition: border-color 0.3s ease-in-out;
  font-weight: 400;
  border: solid 1.5px #dadce0;
  border-radius: 4px;
  height: 2.6rem;
  transition: all 0.3s ease-in-out;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #32312f;
  outline: 0;
  box-shadow: none;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  font-weight: 400;
  color: #d2d2d9 !important;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  font-weight: 400;
  color: #d2d2d9 !important;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  font-weight: 400;
  color: #d2d2d9 !important;
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  font-weight: 400;
  color: #d2d2d9 !important;
}

input::placeholder,
textarea::placeholder {
  font-weight: 400;
  color: #d2d2d9 !important;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: #939597 !important;
  color: #4f5257 !important;
}

input:disabled {
  cursor: not-allowed;
}

.form-group label {
  margin-bottom: 0.4rem;
  font-size: 0.9rem;
  font-weight: 400;
}

.is-invalid {
  background-image: none !important;
}

/* Slider Checkboxes */

.tg-list {
  text-align: center;
  display: flex;
  align-items: center;
}
.tg-list-item {
  margin: 0 0em;
  display: inline-block;
}
.tgl {
  display: none;
}
.tgl,
.tgl:after,
.tgl:before,
.tgl *,
.tgl *:after,
.tgl *:before,
.tgl + .tgl-btn {
  box-sizing: border-box;
}
.tgl::-moz-selection,
.tgl:after::-moz-selection,
.tgl:before::-moz-selection,
.tgl *::-moz-selection,
.tgl *:after::-moz-selection,
.tgl *:before::-moz-selection,
.tgl + .tgl-btn::-moz-selection {
  background: none;
}
.tgl::selection,
.tgl:after::selection,
.tgl:before::selection,
.tgl *::selection,
.tgl *:after::selection,
.tgl *:before::selection,
.tgl + .tgl-btn::selection {
  background: none;
}
.tgl + .tgl-btn {
  outline: 0;
  display: block;
  width: 4em;
  height: 2em;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.tgl + .tgl-btn:after,
.tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}
.tgl + .tgl-btn:after {
  left: 0;
}
.tgl + .tgl-btn:before {
  display: none;
}
.tgl:checked + .tgl-btn:after {
  left: 50%;
}
.tgl-ios + .tgl-btn {
  background: #fbfbfb;
  border-radius: 2em;
  padding: 2px;
  transition: all 0.4s ease;
  border: 1px solid #bbbdbc;
}
.tgl-ios + .tgl-btn:after {
  border-radius: 2em;
  background: #fbfbfb;
  transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    padding 0.3s ease, margin 0.3s ease;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 0 rgba(0, 0, 0, 0.08);
}
.tgl-ios + .tgl-btn:hover:after {
  will-change: padding;
}
.tgl-ios + .tgl-btn:active {
  box-shadow: inset 0 0 0 2em #e8eae9;
}
.tgl-ios + .tgl-btn:active:after {
  padding-right: 0.8em;
}
.tgl-ios:checked + .tgl-btn {
  background: #0d894d;
}
.tgl-ios:checked + .tgl-btn:active {
  box-shadow: none;
}
.tgl-ios:checked + .tgl-btn:active:after {
  margin-left: -0.8em;
}

/* Custom radio button */
.custom-control-label::before, .custom-control-label::after {
  top: .15rem;
outline: none !important;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #0d894d;
  background-color: #0d894d;
  outline: none !important;
}

input[type="radio"]{
outline: none !important;
}
.custom-control-label::before, .custom-file-label, .custom-select {
  outline: none !important;
  transition: background-color 0.2s ease-in-out, 
  border-color 0.2s ease-in-out, 
  box-shadow 0.2s ease-in-out;
}

/* Custom table */
.table-div{
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}


.my-card-body .table-div{
  margin: 20px 0 50px;
  border-radius: 5px;
}

.mini-card .table-div{
  margin: 0 15px 15px 0;
  border-radius: 5px;
}

table.my-table{
  width: 100%;
  border-collapse: collapse;
  font-weight: 400;
}

.my-table th{
  background-color: #FBFAFA;
  border-bottom: 2px solid #e7e9eb;
  /* border-top: 2px solid #e7e9eb; */
  padding: 9px;
  font-weight: 400;
  /* text-transform: uppercase; */
  font-size: 0.9rem;
}

.my-table td{
  border-bottom: 1px solid #e7e9eb;
  padding: 5px;
}

.my-table th:last-child{
  text-align: center;
}

.my-table td:last-child{
  text-align: center;
}

.my-table button{
  background: none;
  border: none;
}

.my-table.leave td:not(:first-child){
  text-align: center;
}

.my-table.leave th:not(:first-child){
  text-align: center;
}

.my-table button svg{
  width: 25px;
  height: auto;
  stroke-width: 1.3px !important;
}

.my-table button:hover svg.icon-tabler-edit{
  stroke: #379adb;
}

.my-table button:hover svg.icon-tabler-trash{
  stroke: red;
}

/* Modals */
.modal-body{
  position: relative;
  border: none;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.modal-body .image{
  margin: 1rem 0;
}

.modal-body .close{
  position: absolute;
  right: calc(0.5rem + 2px);
  top: calc(0.2rem + 2px);
}

.modal-body p{
  margin: 1rem;
  font-weight: 500;
}

.modal-body .modal-buttons{
  margin: 1rem 0;
}

.modal-body .modal-buttons button{
  margin: 0 15px;
  border-radius: 2px;
}

.my-card-body .dsnSettings {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 10px;
  width: 100%;
  margin-left: auto;
  align-items: center;
  padding: 5px;
}

.my-card-body .dsnName{
  width: 50%;
  flex: 0 0 1;
  font-size: 1rem;
  margin-left: 4rem;
}

@media (min-width: 320px) and (max-width: 480px) {
  .my-card-body .dsnName{
    margin-left: 0rem;
  }  
}

.dsnName.head{
  font-weight: 500;
}

.my-card-body .dsnAction{
  width: 50%;
  flex: 0 0 1;
  text-align: center;
}

.mini-card .mini-card{
  padding: 15px 10px;
  margin-right: 15px;
}
.my-card-body .dsnAction button{
  background: none;
  border: none;
  border-radius: 50%;
    width: 36px;
    height: 36px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(46, 52, 59, 0.07);
}

.my-card-body .dsnAction button svg{
  width: 25px;
  height: auto;
  stroke-width: 1.3px !important;
}

.my-card-body .dsnAction button:hover svg.icon-tabler-edit{
  stroke: #379adb;
}

.my-card-body .dsnAction button:hover svg.icon-tabler-trash{
  stroke: red;
}

.my-table.training th:nth-child(4),
.my-table.training td:nth-child(4),
.my-table.training th:nth-child(5),
.my-table.training td:nth-child(5){
  text-align: center;
}

.my-table button:hover svg.icon-tabler-edit{
  stroke: #379adb;
}

.my-table button:hover svg.icon-tabler-eye{
  stroke: #0d894d;
}

.staff_ss{
  align-items: flex-start !important;
}

.staff_ss .value {
  font-size: 0.9rem !important;
}

.access-panel{
  display: grid;
  grid-auto-rows: minmax(30px, auto);
  grid-template-columns: 200px repeat(5, 1fr);
  gap: 10px;
  align-items: center;
  justify-content: center;
  justify-items: center;
  margin: 10px 0;
  border-bottom: 1px solid #e8eae9;
}

.access-panel:last-child{
  border-bottom: none;
}

.access-panel.header{
  font-weight: 500;
  margin-bottom: 1rem;
  border-bottom: none;
}

.access-panel .value{
  padding: 10px auto;
}

.access-panel .name{
  justify-self: start;
  align-self: center;
  font-weight: 500;
}

.access-panel label{
  margin-bottom: 0 !important;
}